* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

nav.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 15px;
  /* padding: 20px 30px 20px 30px; desktop */
}

button.navbar-toggler {
  padding: 0px;
  border: none;
}

/* a.space-in {
  margin-left: 50px; 
}
                            desktop
a.space-di {
  margin-right: 35px;
} */

.border-dropdown {
  border-radius: 12px !important;
  border: none !important;
}

a.dropdown-item {
  padding: 0.25rem !important;
}
.img-dropdown {
  margin-right: 10px;
}

.container-button {
  display: flex;
  gap: 15px;
}

.bg-disable {
  background-color: none;
}

button.btn-login {
  color: rgba(0, 0, 0, 0.55);
  background-color: transparent;
  border: none;
  padding: 6px 12px;
}

button.btn-login:hover {
  color: black;
}

/* <-------------MAIN----------> */

.pb {
  /* padding: 70px 130px 120px 170px; desktop */
}

h1.text-hero {
  text-align: center;
  padding-top: 68px;
  font-size: 30px;
  /* font-size: 76px; desktop*/
  font-weight: 700;
  max-width: 510px;
}

h1.mb-3 {
  margin-bottom: 35px !important;
}

p.text-hero {
  max-width: 485px;
  font-size: 15.5px;
  /* font-size: 18px; desktop */
  font-weight: 400;
  text-align: center;
  /* text-align: justify; desktop */
  padding-left: 20px;
  padding-right: 20px;
  /* padding-top: 44px; desktop
  padding-bottom: 54px; */
  margin-bottom: 30px;
}

.px-4 {
  padding-right: 34px !important;
  padding-left: 34px !important;
}

button.bm {
  border-radius: 16px;
}

button.btn {
  /* display: inline-block; desktop*/
  display: block;
  margin: auto;
}

button.btn-lg {
  padding: 12px;
  font-size: 16px;
  /* padding: 15px; desktop */
}

div.partner {
  padding-top: 50px;
  padding-bottom: 95px;
}

.partner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 40px; desktop*/
}
.img-partner {
  width: 82px;
}

.img-fluid {
  height: 640px;
}

.img-hero {
  width: 480px;
  height: auto;
}
