* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

nav.navbar {
  padding: 20px 30px 20px 30px;
}

a.space-in {
  margin-left: 50px;
}

a.space-di {
  margin-right: 35px;
}

.border-dropdown {
  border-radius: 12px !important;
  border: none !important;
}

a.dropdown-item {
  padding: 0.25rem !important;
}
.img-dropdown {
  margin-right: 10px;
}

.container-button {
  display: flex;
  gap: 15px;
}

.bg-disable {
  background-color: none;
}

button.btn-login {
  color: rgba(0, 0, 0, 0.55);
  background-color: transparent;
  border: none;
  padding: 6px 12px;
}

button.btn-login:hover {
  color: black;
}

/* <-------------MAIN----------> */

.pb {
  padding: 70px 130px 120px 170px;
}

h1.text-hero {
  padding-top: 68px;
  font-size: 76px;
  font-weight: 700;
  max-width: 510px;
}

p.text-hero {
  max-width: 485px;
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  padding-top: 44px;
  padding-bottom: 54px;
}

.px-4 {
  padding-right: 34px !important;
  padding-left: 34px !important;
}

.btn-lg {
  padding: 15px;
}

div.partner {
  padding-top: 110px;
}

.partner {
  display: flex;
  justify-content: first baseline;
  align-items: center;
  gap: 40px;
}
.img-partner {
  width: 82px;
}

.img-fluid {
  height: 640px;
}

.img-hero {
  width: 480px;
  height: auto;
}

@media (min-width: 576px) {
  .img-hero {
    max-width: 100%;
  }
}
